InputBoard(
    board: [
        "naessnryt",
        ".yueiciea",
        "hcutlsedp",
        "dnigfazbr",
        "l.vprixes",
        "lnioronmo",
        "rqiobmaar",
        "odgnt.egf",
        "ehiohoies",
        "djecsslw.",
        "asitclein",
        "uptsascmr",
        "ktpeeatlu",
    ],
    mults: [
        (5, 1),
        (10, 2),
        (11, 0),
    ],
)

/*
################################################################################
# Only using the N top scorers
cargo run --release -- --memory-debug -c 8 sample-input/20240905.ron
Found 1,065,710 unique terminal boards
1,226 via  7 words
        auspice: ["(10, 0)", "(11, 0)", "(10, 1)", "(11, 1)", "(10, 2)", "(9, 3)", "(9, 2)"]
    sermonizers: ["(3, 3)", "(4, 3)", "(5, 4)", "(6, 5)", "(5, 5)", "(5, 6)", "(4, 5)", "(3, 6)", "(4, 7)", "(3, 8)", "(4, 8)"]
         punchy: ["(7, 3)", "(6, 2)", "(7, 1)", "(6, 1)", "(6, 0)", "(5, 1)"]
   melancholics: ["(11, 7)", "(10, 6)", "(10, 5)", "(11, 4)", "(10, 3)", "(10, 4)", "(9, 4)", "(8, 5)", "(9, 6)", "(10, 7)", "(11, 6)", "(11, 5)"]
       eugenics: ["(12, 7)", "(12, 8)", "(11, 7)", "(12, 6)", "(11, 5)", "(12, 4)", "(12, 5)", "(11, 4)"]
         nighed: ["(9, 1)", "(10, 2)", "(11, 2)", "(12, 1)", "(12, 0)", "(11, 1)"]
         frayed: ["(11, 8)", "(10, 8)", "(9, 8)", "(10, 7)", "(11, 7)", "(12, 7)"]

################################################################################
# Using some culling


################################################################################
# Using the first/mid/worst scorers 5% of the time; top 3 the rest of the time
*/
