InputBoard(
    board: (
        ('e', 's', 'e', 'k', 'a', 'l', 'e', 'e', 'n'),
        ('d', 'u', 'i', 's', 'e', 'h', 'u', 'n', 'm'),
        ('r', 'i', 'd', 'c', 'o', '.', 's', 'e', 't'),
        ('d', 'o', 'r', 's', 'o', 'n', '.', '.', 'n'),
        ('r', 'i', 'a', 'g', 'a', 'w', 't', 'n', 'i'),
        ('s', 'p', 'h', 'i', 'u', 'u', 'l', 'b', 'e'),
        ('h', 'r', 's', 'n', 'c', 'c', 'e', 'l', 't'),
        ('e', 'p', 'a', 's', 'i', 'q', 'r', 'o', 't'),
        ('s', 'e', 'a', 'r', 'y', 'c', 'o', 'p', 'e'),
        ('s', 'i', 's', '.', 'v', 'g', 'i', 'l', 'd'),
        ('a', 'f', 'b', 'r', 'o', 'y', 'i', 'z', 'm'),
        ('j', 'm', 't', 'a', 't', 'a', 't', 'l', 'p'),
        ('f', 'l', 'g', 'x', 'c', 'n', 'e', 'o', 'i'),
    ),
    mults: [
        (4, 1),
        (9, 1),
        (11, 5),
    ],
)

/*
-c 10 -g 1000000
Found 992,290 unique terminal boards
4,342 via  7 words
      cogitator: ["(8, 5)", "(8, 6)", "(9, 5)", "(10, 6)", "(11, 6)", "(11, 5)", "(11, 4)", "(10, 4)", "(10, 3)"]
    dispassions: ["(3, 0)", "(4, 1)", "(5, 0)", "(5, 1)", "(5, 2)", "(6, 3)", "(7, 2)", "(8, 3)", "(8, 4)", "(9, 5)", "(8, 6)"]
      maiasaurs: ["(11, 1)", "(10, 0)", "(9, 1)", "(9, 2)", "(9, 3)", "(9, 4)", "(10, 4)", "(11, 3)", "(10, 3)"]
       cutlette: ["(12, 5)", "(11, 5)", "(10, 6)", "(9, 7)", "(8, 8)", "(7, 8)", "(6, 8)", "(6, 7)"]
         fussed: ["(12, 0)", "(11, 1)", "(10, 1)", "(11, 0)", "(10, 0)", "(9, 0)"]
           mint: ["(10, 8)", "(9, 8)", "(8, 8)", "(7, 8)"]
         oilmen: ["(12, 7)", "(12, 8)", "(11, 7)", "(10, 8)", "(10, 7)", "(9, 8)"]
Finished in 35 seconds

-c 100 -g 1000000
Found 992,850 unique terminal boards
4,351 via  6 words
      cogitator: ["(8, 5)", "(8, 6)", "(9, 5)", "(10, 6)", "(11, 6)", "(11, 5)", "(11, 4)", "(10, 4)", "(10, 3)"]
    dispassions: ["(3, 0)", "(4, 1)", "(5, 0)", "(5, 1)", "(5, 2)", "(6, 3)", "(7, 2)", "(8, 3)", "(8, 4)", "(9, 5)", "(8, 6)"]
      maiasaurs: ["(11, 1)", "(10, 0)", "(9, 1)", "(9, 2)", "(9, 3)", "(9, 4)", "(10, 4)", "(11, 3)", "(10, 3)"]
        detente: ["(9, 8)", "(8, 8)", "(7, 8)", "(6, 7)", "(5, 7)", "(6, 8)", "(5, 8)"]
       eolopile: ["(9, 6)", "(10, 7)", "(11, 6)", "(12, 7)", "(11, 8)", "(12, 8)", "(11, 7)", "(12, 6)"]
        guessed: ["(12, 2)", "(11, 1)", "(10, 2)", "(10, 1)", "(11, 0)", "(10, 0)", "(9, 0)"]
*/