InputBoard(
    board: [
        "iptreaqan",
        ".ggltpoop",
        "evirfssnc",
        "nisuabroo",
        "tlildryin",
        "raoei.szf",
        "dsdiuccak",
        "aer.ewott",
        "uannsmysa",
        "eredbhtpi",
        "uljlemtcm",
        "gsselxees",
        "nhehcioi.",
    ],
    mults: [
        (0, 7),
        (1, 3),
        (5, 4),
    ],
)

/*
cargo run --release -- --memory-debug -c 9 sample-input/board-2.ron
Found 1,758,430 unique terminal boards
999 via 10 words
        baldric: ["(3, 5)", "(3, 4)", "(4, 3)", "(4, 4)", "(4, 5)", "(5, 4)", "(6, 5)"]
    hypsometers: ["(9, 5)", "(8, 6)", "(7, 5)", "(6, 6)", "(7, 6)", "(8, 5)", "(7, 4)", "(6, 4)", "(5, 4)", "(5, 3)", "(4, 2)"]
       excelled: ["(10, 4)", "(11, 5)", "(12, 4)", "(11, 3)", "(11, 4)", "(10, 3)", "(9, 2)", "(9, 3)"]
   optimization: ["(10, 6)", "(10, 7)", "(11, 6)", "(12, 7)", "(11, 8)", "(10, 8)", "(9, 7)", "(9, 8)", "(8, 8)", "(8, 7)", "(7, 7)", "(6, 7)"]
        dastard: ["(8, 0)", "(9, 0)", "(9, 1)", "(9, 2)", "(10, 1)", "(11, 2)", "(10, 2)"]
           pent: ["(8, 1)", "(8, 0)", "(9, 0)", "(10, 0)"]
            con: ["(10, 8)", "(11, 8)", "(12, 8)"]
            nap: ["(11, 8)", "(12, 7)", "(12, 8)"]
            vig: ["(10, 1)", "(10, 0)", "(9, 1)"]
            hun: ["(12, 1)", "(11, 0)", "(12, 0)"]
Finished in 3 minutes
*/
